
.leaderboard-container {
    display: flex;
    flex-direction: column;  
    border: 1vh solid #ddd;
    padding: 1vh;
    margin: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin: 1%;
    
}


.leaderboard-table tbody tr:nth-child(even) {
    background-color: lightgrey;
}

.leaderboard-table tbody tr:nth-child(odd) {
    background-color: white;
}

.Leaderboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

#header-text {
    margin-right: 10vw;
    margin-left: 9vw;
}

#brown-logo img, #putr-logo img {
    width: 10vw;
    height: auto;
}

#putr-logo img {
    width: 14vw;
    height: auto;
}

.flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 6vw; */
}

.player-flag {
    width: 5vw;
    margin: 1.5%;
    /* border: 0.2vh solid black; */
    /* box-shadow: 0 0 0.2vh 0.2vh rgba(243, 243, 243, 0.5); */
    
}

.player-putr {
    font-size: 2rem;
    text-align: center;
}

.player-net {
    font-size: 2rem;
    text-align: center;
}

.player-name {
    font-size: 2rem;
    text-align: center;
}

.player-name a {
    text-decoration: none;
    color: rgb(0,0,238);
}

.player-name a:visited {
    text-decoration: none;
    color: rgb(0,0,238);
}

#table-header th {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    padding: 2vh;
    text-align: center;
}

body {
    background-color: #f0f0f0;
}


.profile-container {
  text-align: center;
}

button {
    padding: 1vh 4vh;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 5px;
    margin: 0.5%;
    font-size: 2vh;
}

#lineChart {
    width: 100%;
    height: auto;
}























